@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

body, html {
    margin: 0;
    padding: 1.5em;
    background-color: #333;
    width: calc(100% - 3em);
    height: calc(100% - 3em);
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
}

.search {
    font-size: 2em;
    border: 0;
    outline: none;
    padding: .5em;
    width: 100%;
    text-align: center;
}

#results {
    display: flex;
    flex-direction: column;
}

.result {
    margin-top: 1em;
    padding: 1em;
    background: white;
}